@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body,
* {
    font-family: "Comic relief";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuWrapper {
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burgerIcon {
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: #EBD3F8;
    z-index: 3;
    transition: color 0.2s ease-in-out;
}

.menuWrapper:has(.sidebar:hover) .burgerIcon,
.burgerIcon:hover {
    color: whitesmoke;
}

.sidebar {
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: rgb(14, 14, 14);
    color: whitesmoke;
    padding: 4rem 1rem;
    transition: left 0.2s ease-in-out;
}

.burgerIcon:hover+.sidebar,
.sidebar:hover {
    left: 0;
    box-shadow: 0 0 6px 0 rgb(14, 14, 14);
}

.sidebar a {
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: whitesmoke;
    margin: 1.2rem 0;
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out,
        transform 0.15s ease-in-out;
}

.sidebar a:hover {
    opacity: 1;
    transform: translateX(0.3rem);
    filter: drop-shadow(0 0 6px whitesmoke);
}

/*All divs inside paes are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1 {
    font-weight: 300;
    font-size: 3rem;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* Position fixed - klassen "show" viser pages */
    position: fixed;
    left: -100vw;
    transition: 0.5s ease-in-out all;

}

.show {
    left: 0;
}

.scroll{
    display: grid;
    min-height: 100%;
    margin: 10rem;
    overflow-y: scroll;
    padding: 20rem;
}

.box {
    max-width: 25rem;
    min-height: 100rem;
    grid-row: 1fr 8fr;
}

#page2{
    overflow-y: scroll;
}

.parallax{
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
}

.background1{
    background-image: url(./asstes/bird.jpg);
}

.background2{
    background-image: url(./asstes/forest.jpg);
}