@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body,
* {
    font-family: "Comic relief";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menuWrapper{
    position: fixed;
    width: fit-content;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
}

.burgerIcon{
    position: fixed;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    color: #2E073F;
    z-index: 3;
    transition: color 0.2s ease-in-out;
}

.menuWrapper:has(.sidebar:hover) .burgerIcon, .burgerIcon:hover{
    color: #EBD3F8;
}
    
.sidebar{
    position: relative;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    min-width: 15rem;
    background-color: rgb(14, 14, 14);
    color: #EBD3F8;
    padding: 4rem 1rem;
    transition: left 0.2s ease-in-out;
}

.burgerIcon:hover + .sidebar, .sidebar:hover{
    left: 0;
    box-shadow: 0 0 6px 0 rgb(14, 14, 14);
}

.sidebar a {
    cursor: pointer;
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: #EBD3F8;
    margin: 1.2rem 0;
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out, 
       transform 0.15s ease-in-out;
}

.sidebar a:hover{
    opacity: 1;
    transform: translateX(0.3rem);
    filter: drop-shadow(0 0 6px #EBD3F8);
}

/*All divs inside paes are treated as full width grids*/
.page div {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;

}

h1 {
    font-weight: 300;
    font-size: 3rem;
}

.page {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* grid layout */
    display: grid;
    place-items: center;
    /* Position fixed - klassen "show" viser pages */
    position: fixed;
    left: -100vw;
    transition: 0.5s ease-in-out all;

}

.show {
    left: 0;
}

#page1{
    grid-template-rows: 1fr 6fr;
}

#page1 .top{
    background-color: #EBD3F8;
}

#page1 .bottom{
    grid-template-columns: 1fr 1fr;
}

#page1 .bottom .left{
    overflow: hidden;
}

#page1 .bottom .left img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#page1 .bottom .right{
    background-color: #AD49E1;
    padding: 2rem;
    font-size: 2rem;
}

#page1 .bottom .right p{
    background-color: rgba(14, 14, 14, 0.8);
    color: #EBD3F8;
}

#page1 .bottom .right img{
    height: 70%;
    width: 70%;
}

#page2{
    grid-template-rows: 1fr 6fr;
}

#page2 .top{
    background-color: #EBD3F8;
}

#page2 .bottom{
    grid-template-columns: repeat(4, 1fr);
    border: #2E073F solid 0.3rem;
}

#page2 img{
    height: 70%;
    width: 70%;
}

#page2 video{
    height: 70%;
    width: 70%;
}

#page2 .bottom .colum1{
    grid-template-rows: 1fr 1fr;
    background-color: #AD49E1;
}
#page2 .bottom .colum2{
    grid-template-rows: 1fr 1fr;
    background-color: #7A1CAC;
}
#page2 .bottom .colum3{
    grid-template-rows: 1fr 1fr;
    background-color: #AD49E1;
}
#page2 .bottom .colum4{
    grid-template-rows: 1fr 1fr;
    background-color: #7A1CAC;
}

#page2 .bottom p{
    padding: 2rem;
    color: #EBD3F8;
    background-color: rgba(14, 14, 14, 0.8);
    height: 90%;
    width: 100%;
    border: #2E073F double 0.3rem;
    place-content: center;
}

#page3{
    grid-template-rows: 1fr 6fr;
}

#page3 .top{
    background-color: #EBD3F8;
}

#page3 .bottom{
    grid-template-columns: 2fr 1fr;
    border: #2E073F solid 0.3rem;
}

#page3 .bottom .left{
    overflow: hidden;
    grid-template-rows: 1fr 1fr 1fr;
}

#page3 .bottom .left img{
    height: 100%;
    width: 100%;
}

#page3 .bottom .right{
    padding: 2rem;
    background-color: #AD49E1;
}

#page3 .bottom .right p{
    color: #EBD3F8;
    background-color: rgba(14, 14, 14, 0.8);
    font-size: 1.5rem;
}

#page4{
    grid-template-rows: 1fr 6fr;
}

#page4 .top{
    background-color: #EBD3F8;
}

#page4 .bottom{
    grid-template-rows: repeat(3, 1fr);
    border: #2E073F solid 0.3rem;
}

#page4 .bottom .discord{
    background-color: #AD49E1;
}

#page4 .bottom .email{
    background-color: #AD49E1;
}

#page4 .bottom .tlfnummer{
    background-color: #7A1CAC;
}

#page4 .bottom h3{
    background-color: rgba(14, 14, 14, 0.8);
    color: #EBD3F8;
    font-size: 1.5rem;
}



